<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="utf-8">
	<meta name="viewport"
		  content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	
	<title>HTML5 – Estrutura básica</title>
</head>
<body>
		     			 <!--Sem a enctype nao sera considerada os dados de media do formulario-->
	<!--Foi removida a action="{% url 'persons_new' %}" na secao 3, aula 19 com 07:10-->	     			 
	<form method="POST" enctype="multipart/form-data">
		{% csrf_token %}
		{{ formulario }}

		<input type="submit" value="Salvar"/>

	</form>

</body>
</html>
